.Navbar_Container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sticker{
    width: 50px;
    height: 50px;
    background-color: transparent;
    object-fit: cover;
}

@media (max-width: 768px) {
    .sticker{
        display: none;
    }
    .avatarIcon{
        display: none;
    }
}